body, h1, h2, p {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:'vazir';
    src: url('Vazir-Bold-FD.woff2') format('woff2'),
    url('Vazir-Bold-FD.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
body {
    font-family: 'vazir', Arial, Helvetica, sans-serif;
    background-color: rgb(139, 158, 158);
    text-align: center;
    padding-top: 50px;
}
.hen {
    background: linear-gradient(
        to left, 
        rgb(181, 75, 75) 0%,
        rgba(0, 0, 0, 0.3) 150%
    );
    width: 60%;
    margin: auto;
    padding: 8px;
    border: 6px solid black ;
    border-radius: 25px;
    box-shadow: 60px rgba(0, 0, 0, 5);
}
.ben {
    background: linear-gradient(
        to left, 
        rgb(68, 195, 207) 0%,
        rgba(0, 0, 0, 0.3) 150%
    );
    width: 40%;
    border: 2px solid blueviolet;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 60px rgba(0, 0, 0, 5);
}

h1 {
    color: rgb(27, 240, 20); 
}
mark {
    background: linear-gradient(
        to left,
        rgba(149, 218, 23, 3.8) 0%,
        rgba(0, 0, 0, 0.4) 100%
    );
    border-radius: 12px;
    font-size: 30px ;
    padding: 3px;
    margin-bottom: 100px;
}
p {
    font-size: 19px;
    padding-top: 10px;
}


