body, h1, h2, p {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:'vazir';
    src: url('Vazir-Bold-FD.woff2') format('woff2'),
    url('Vazir-Bold-FD.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
body {
    font-family: 'vazir', Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 50px;
    background-image: url("shark3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;  /* موقع اسکرول ثابت می‌مونه */
    background-size: 900px;        /* کوچیکی لوگو */
}
.jek{
    background: linear-gradient(
        to bottom,
        rgba(161, 223, 174, 0.8) 0%,
        rgba(1, 1, 1, 0.2) 300%
    );
    width: 57%;
    margin: auto;
    padding: 5px;
    border-radius: 100px;
    border: 12px solid rgb(0, 0, 0, 0.19) ;
    box-shadow: 0 0.1px 40px rgb(17, 255, 0);
}
.hen {
    background: linear-gradient(
        to left, 
        rgb(181, 75, 75) 0%,
        rgba(0, 0, 0, 0.3) 150%
    );
    width: 40%;
    margin-bottom: 16px;
    margin-right: 30% ;
    padding: 8px;
    border: 6px solid black ;
    border-radius: 25px;
    box-shadow: 0 0.8px 60px rgb(49, 1, 1);
}
.ben {
    background: linear-gradient(
        to left, 
        rgb(68, 195, 207) 0%,
        rgba(0, 0, 0, 0.3) 150%
    );
    width: 50%;
    margin-bottom: 16px;
    margin-right: 19% ;
    border: 2px solid blueviolet;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 0.1px 60px rgba(0, 0, 0, 5);
    box-shadow: inset 4px 5px 9px  rgb(0, 0, 0, 0.8);
    

}

h1 {
    color: rgb(27, 240, 20); 
 text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
      
}
mark {
    background: linear-gradient(
        to left,
        rgba(149, 218, 23, 3.8) 0%,
        rgba(0, 0, 0, 0.4) 100%
    );
    border-radius: 12px;
    font-size: 30px ;
    padding: 3px;
    margin-bottom: 100px;
    box-shadow: 4px 5px 5px rgba(206, 12, 255, 0.8);
    box-shadow: inset 4px 5px 5px rgb(0, 0, 0, 0.8);
}

p {
    text-shadow: 3px 3px 3px rgb(0, 0, 0, 0.5);
    font-size: 19px;
    z-index: 10;
    padding-top: 10px;
}
.btn {
    background: #007bff;
    position: sticky;
    margin-right: 242px;
    color: white;
    height: 20px;
    width: 45px;
    padding: 6px;
    border-radius: 8px;
    transition: 0.5s;  /* مدت تغییر */
    box-shadow: inset 4px 5px 6px rgb(0, 0, 0, 0.9);
  }
  
  .btn:hover {
    background: #03530b;
    color: aqua;
    transform: scale(1.3);
  }
  .rating {
    direction: rtl;   /* مهم: ستاره‌ها از راست شروع می‌شن */
  }
  
  .rating input {
    display: none;    /* مخفی کردن دکمه‌های رادیو */
  }
  
  .rating label {
    font-size: 40px;
    color: #ccc;      /* ستاره خاموش */
    cursor: pointer;
    transition: 0.3s;
  }
  .rating input:checked ~ label {
    color: gold;
  }
    
  
  

